@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-bottom: 0;
}

/* Make footer stay at bottom without body's content spilling */
    #page_container{
        position: relative;
        min-height: 100vh;
        margin-left: 30px;
        margin-right: 30px;
    }

    #content_wrap{
        padding-bottom:9rem;
    }

    footer{
        background-color: #a0b99a;
        width:100%;
        position: absolute;
        bottom:0;
        height: 7rem;
    }

/* Header and Navigation */
    #nav_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #header_link{
        text-align: right;
        margin-top: 50px;
        margin-right: 50px;
    }

    .nav_link{
        margin-left: 10px;
    }

    .nav_link:link, .nav_link:visited{
        text-decoration: none;
        color: black;
        font-size: 110%;
    }

    .nav_link:hover {
        color:rgba(160, 185, 154, 1)
    }

    #current_page{
        color: rgba(160, 185, 154, 1);
        text-decoration: underline;
        text-decoration-color:rgba(160, 185, 154, 1);
        text-decoration-thickness: 1px;
    }

    h2 {
        margin-top: 50px;
        font-size: 150%;
        font-weight: 300;
    }

    .dropbtn {
        display: none;
      }

/* Footer */
    #footer_links{
        margin-top: 50px;
        text-align:center;
    }

    .footer_link{
        font-size: larger;
        text-decoration: none;
        color:black;
        padding: 10px;
    }

    .footer_link:visited{
        color:black;
    }

    .footer_link:hover{
        color: white;
    }

    i {
        margin-left: 5px;
    }

/* Home Page Tags */
    #home_h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 250%;
        font-weight: 300;
    }
    .slideshow_container {
        box-sizing: border-box;
        max-width: 1200px;
        position: relative;
        margin: auto;
      }

    .mySlides {
        box-sizing: border-box;
        display: none;
    }

    #first_slide {
        display: block;
    }

    .home_image {
        box-sizing: border-box;
        width: 100%;
        vertical-align: middle;
    }

    .prev, .next {
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color:white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      .prev:hover, .next:hover {
        background-color: rgba(255,255,255,0.3);
      }

      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }

      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @media only screen and (max-width: 300px) {
        .prev, .next, .text {font-size: 11px}
      }

/* Work.html Tags */
    .project_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    .project {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 250%;
        font-weight: 300;
    }

    .project_link:link, .project_link:visited{
        text-decoration: none;
        color: black;
        font-weight:300;
    }

    .project_link:hover{
        color:rgba(160, 185, 154, 1);
    }

    #portfolio_picture{
        width:100%;
        height: 90%;
        object-fit:fill;
        transition: 1s;
    }

    #portfolio_picture:hover{
        opacity: 75%;
    }


    @media (max-width: 790px) {
        .project_grid {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
        }

        h1 {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 250%;
            font-weight: 300;
        }
        /* Drop down menu for navigation links */
        #header_link{
            margin-top: 40px;
            margin-bottom: 19.920px;
        }

        .dropbtn {
            color: black;
            background: none;
            font-size: 40px;
            font-weight: 100;
            border: none;
            cursor: pointer;
            display: block;
            font-family: inherit;
          }

          .dropdown {
            position: relative;
            display: inline-block;
          }

          .dropdown-content {
            position: absolute;
            text-align: left;
            top: calc(100% + .25rem);
            background-color: #f9f9f9;
            padding: .75rem;
            border-radius: .25rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
          }

          .dropdown > .dropbtn:focus-within + .dropdown-content {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
          }
    }

/* Work Detail Page */
    /* Regular Pages */
    .image_grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

    .art_detail{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .main_content{
        margin-left: 80px;
        margin-right: 80px;
    }

    /* Misc Page */
    .misc_content{
        margin-left: 0px;
        margin-right: 0px;
    }

    #misc_grid{
        display: grid;
        grid-template-columns: repeat(100,1fr);
        grid-gap: 5px;
    }

    #grid_block_1{
        grid-column: 1/51;
    }

    #grid_block_2{
        grid-column: 51/101;
    }

    #grid_block_3{
        grid-column: 1/61;
    }

    #grid_block_4{
        grid-column: 61/101;
    }

    #grid_block_5{
        grid-column: 1/23;
    }

    #grid_block_6{
        grid-column: 23/80;
    }

    #grid_block_7{
        grid-column: 80/101;
    }

    #grid_block_8{
        grid-column: 1/55;
    }

    #grid_block_9{
        grid-column: 55/101;
    }

    #grid_block_10{
        grid-column: 1/54;
    }

    #grid_block_11{
        grid-column: 54/101;
    }

    #misc_art{
        width: 100%;
        height: 100%;
    }

    @media(max-width: 1660px) {
        #grid_block_1{
            grid-column: 1/101;
        }

        #grid_block_2{
            grid-column: 1/101;
        }

        #grid_block_3{
            grid-column: 1/101;
        }

        #grid_block_4{
            grid-column: 1/70;
        }

        #grid_block_5{
            grid-column: 70/101;
        }

        #grid_block_6{
            grid-column: 1/72;
        }

        #grid_block_7{
            grid-column: 72/101;
        }

        #grid_block_8{
            grid-column: 1/55;
        }

        #grid_block_9{
            grid-column: 55/101;
        }

        #grid_block_10{
            grid-column: 1/54;
        }

        #grid_block_11{
            grid-column: 54/101;
        }
    }

    @media (max-width: 930px) {
        #misc_grid{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 5px;
        }

        #grid_block_1{
            grid-column: 1/2;
        }

        #grid_block_2{
            grid-column: 1/2;
        }

        #grid_block_3{
            grid-column: 1/2;
        }

        #grid_block_4{
            grid-column: 1/2;
        }

        #grid_block_5{
            grid-column: 1/2;
        }

        #grid_block_6{
            grid-column: 1/2;
        }

        #grid_block_7{
            grid-column: 1/2;
        }

        #grid_block_8{
            grid-column: 1/2;
        }

        #grid_block_9{
            grid-column: 1/2;
        }

        #grid_block_10{
            grid-column: 1/2;
        }

        #grid_block_11{
            grid-column: 1/2;
        }
        }

    /* Make each picture fade in and stay on page when the user sees it*/

/* Contact Page */
    #contact_grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
        margin-left: 30px;
    }

    #contact{
        text-align: left;
        margin-top: 150px;
        margin-bottom: 0px;
    }

    #contact_p{
        margin-top: 5px;
    }

    h3 {
        font-size: medium;
    }

    #email_h3{
        margin-bottom: 0px;
    }

    #email_p {
        margin-top: 0px;
    }

    .contact_link{
        text-decoration: none;
        color: black;
    }

    .contact_link:visited{
        color:black;
    }

    .contact_link:hover{
        color: #a0b99a;
    }

    #resume_link{
        background-color: black;
        color: white;
        padding: 20px 50px;
        text-align:center;
        text-decoration: none;
        display: inline-block;
    }

    #resume_link:visited{
        color: white;
    }

    #resume_link:hover, #resume_link:active {
        background-color: rgba(0,0,0,.8);
        color: rgba(160, 185, 154, 1);
    }

    @media (max-width: 790px) {
        #contact_grid {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 50px;
            margin-left: 0;
        }

        #resume_link {
            padding: 20px 170px;
        }
    }

/* About Page */
    #about_grid {
        display: flex;
        margin-top: 100px;
        gap: 30px;
    }

    #about_image {
        text-align: right;
        margin-left: 100px;
    }

    #about_image > img {
        height: 400px;
        width: 400px;
    }

    #about_content {
        margin-right: 300px;
    }

    @media (max-width: 1200px) {
        #about_grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 50px;
        }

        #about_image {
            text-align: left;
            margin-left: 0;
        }

        #about_content {
            margin-right: 100px;
        }
    }

    @media (max-width: 790px) {
        #about_content {
            margin-right: 0px;
        }
    }
