{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celine Leng</title>
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
    <script src="{% static "js/script.js" %}"></script>
    <script src="https://kit.fontawesome.com/58427130ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="page_container">
        <div id="content_wrap">
            <div id="content_margin">
                <header>
                    <nav id="nav_grid">
                        <h2>
                            <a class="nav_link" href="{% url 'home' %}"> Celine Leng </a>
                        </h2>
                        <div id="header_link">
                            <div class="dropdown">
                                <button class="dropbtn">═</button>
                                {% block navigation_links %} {% endblock navigation_links%}
                            </div>
                        </div>
                    </nav>
                </header>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <footer>
            <div id="footer_links">
                <i class="fa-regular fa-envelope"></i>
                <a class="footer_link" href="mailto:clengarts@gmail.com">Email</a>
                <i class="fa-brands fa-instagram"></i>
                <a class="footer_link" href="https://www.instagram.com/enayciell/">Instagram</a>
                <i class="fa-brands fa-artstation"></i>
                <a class="footer_link" href="https://www.artstation.com/celineleng">Artstation</a>
                <i class="fa-brands fa-linkedin"></i>
                <a class="footer_link" href="https://www.linkedin.com/in/celine-leng-23a10125a/">LinkedIn</a>
            </div>
        </footer>
    </div>
</body>
</html>
