{% extends 'base.html' %}

{% block navigation_links %}
<div class="dropdown-content">
    <a class="nav_link" href="{% url 'work' %}">Work</a>
    <a class="nav_link" id="current_page" href="{% url 'about' %}">About</a>
    <a class="nav_link" href="{% url 'contact' %}">Contact</a>
</div>
{% endblock navigation_links %}

{% block content %}
<div id="about_grid">
    <div id="about_image">
        <img src="https://ecss.iafor.org/wp-content/uploads/sites/17/2017/02/IAFOR-Blank-Avatar-Image-1.jpg">
    </div>
    <div id="about_content">
        <h2 id="about_h2">About</h2>
        <p>Celine Leng is a concept artist in Los Angeles specializing in Environment Concept Design and Visual Development. She is currently a junior studying for her BS in Entertainment Design Concept Track at ArtCenter College of Design and is actively searching for concept design internships, contract work, and freelance opportunities.</p>
        <p> In her free time, she enjoys cooking, going to coffee shops, and spending time with her two cats.</p>
    </div>
</div>
{% endblock content %}
