{% extends 'base.html' %}

{% block navigation_links %}
<div class="dropdown-content">
    <a class="nav_link" href="{% url 'work' %}">Work</a>
    <a class="nav_link" href="{% url 'about' %}">About</a>
    <a class="nav_link" id="current_page" href="{% url 'contact' %}">Contact</a>
</div>
{% endblock navigation_links %}

{% block content %}
<div id="contact_grid">
    <div>
        <h1 id="contact">Contact</h1>
        <p id="contact_p">Please feel free to contact me for business inquiries or if you have any questions</p>
    </div>
    <div>
        <div>
            <h3 id="email_h3">
                <a class="contact_link" href="mailto:clengarts@gmail.com">Email</a>
            </h3>
            <p id="email_p">clengarts@gmail.com</p>
        </div>
        <h3>
            <a class="contact_link" href="https://www.artstation.com/celineleng">Artstation</a>
        </h3>
        <h3>
            <a class="contact_link" href="https://www.instagram.com/enayciell/">Instagram</a>
        </h3>
        <h3>
            <a class="contact_link" href="https://www.linkedin.com/in/celine-leng-23a10125a/">LinkedIn</a>
        </h3>
    </div>
    <div>
        <a id="resume_link" href="https://static1.squarespace.com/static/6394454e690ac9505021cf33/t/63b7b007bbf168027fef006d/1672982535776/Celine+Leng+Resume.pdf">Resume</a>
    </div>
</div>
{% endblock content %}
