{% extends 'base.html' %}

{% block navigation_links %}
<div class="dropdown-content">
    <a class="nav_link" href="{% url 'work' %}">Work</a>
    <a class="nav_link" href="{% url 'about' %}">About</a>
    <a class="nav_link" href="{% url 'contact' %}">Contact</a>
</div>
{% endblock navigation_links %}

{% block content %}
<h1 id="home_h1">Concept Design + Visual Development Artist</h1>
<main>
    <div class="slideshow_container">
        <div class="mySlides fade" id="first_slide">
            <img class="home_image" src="Images\Home\Slideshow-1.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-2.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-3.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-4.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-5.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-6.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-7.jpg">
        </div>
        <div class="mySlides fade">
            <img class="home_image" src="Images\Home\Slideshow-8.jpg">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </br>
    <div style="text-align:center" class="dot_bar">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
      </div>
</main>

{% endblock content %}
