{% extends 'base.html' %}

{% block navigation_links %}
<div class="dropdown-content">
    <a class="nav_link" id="current_page" href="{% url 'work' %}">Work</a>
    <a class="nav_link" href="{% url 'about' %}">About</a>
    <a class="nav_link" href="{% url 'contact' %}">Contact</a>
</div>
{% endblock navigation_links %}

{% block content %}
<main>
    {% if art.title == "Miscellaneous Works" %}
        <div class="misc_content">
            <div>
                <h2> {{art.title}}: {{art.description}} </h2>
            </div>
            <div id="misc_grid">
            {% for picture in art.artwork.all %}
                <div id="grid_block_{{forloop.counter}}">
                    <img id="misc_art" src="{{ MEDIA_URL }} {{ picture.picture.url }}">
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="main_content">
            <div>
                <h2> {{art.title}}: {{art.description}} </h2>
            </div>
            <div class="image_grid">
            {% for picture in art.artwork.all %}
                <img class="art_detail" src="{{ MEDIA_URL }} {{ picture.picture.url }}">
            {% endfor %}
            </div>
        </div>
    {% endif %}
</main>
{% endblock content %}
