{% extends 'base.html' %}

{% block navigation_links %}
<div class="dropdown-content">
    <a class="nav_link" id="current_page" href="{% url 'work' %}">Work</a>
    <a class="nav_link" href="{% url 'about' %}">About</a>
    <a class="nav_link" href="{% url 'contact' %}">Contact</a>
</div>
{% endblock navigation_links %}


{% block content %}
<div>
    <h1> Portfolio Projects </h1>
</div>
<main class="project_grid">
    {% for project in projects %}
        <div class="project">
            <a class="project_link" href="{% url 'work_detail' project.id %}">
                <img id="portfolio_picture" src="{{MEDIA_URL}} {{project.picture.url}}">
            </a>
            <h3>
                <a class="project_link" href="{% url 'work_detail' project.id %}"> {{ project.title }} </a>
            </h3>
        </div>
    {% endfor %}
</main>
{% endblock content %}
